__pycache__/
*.py[cod]
*$py.class
*.so
.Python
Build/
Develop/
Dist/
Installer/
pylintrc
.pylintrc
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitattributes
.github/
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.bak
*.DS_Store
Thumbs.db
